*{
  margin: 0;
  padding: 0;
}
h1.circle {
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  background-color: black;
  font-size: 95px;
  border: 2px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
