#bgcolor{
  background-color: black;
  height: 230vh;
}
.sticky{
  position: sticky;
  top: 1px;
  border: 1px solid rgb(88, 88, 88);
  background-color: rgb(88, 88, 88);
  width: 1300px;
  height: 80px;
  border-radius: 60px;
  margin: auto;
  margin-top: 50px;
}
h1{
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 9px;
}
.fixed{
  position: fixed;
  border: 1px solid white;
  background-color: white;
  width: 1300px;
  height: 80px;
  border-radius: 60px;
  left: 110px;
  margin-top: 50px;
}
.fixed h1{
  color: black;
}
.p1{
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 300px;
}
.img1{
  position: relative;
  border-radius: 40px;
  left: 575px;
}
.p2{
color: white;
font-size: 17px;
}
.p3{
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 100px;
}
.img2{
  position: absolute;
  border-radius: 40px;
  left: 575px;
  bottom: -1000px;
}
.p4{
  position: absolute;
  color: white;
  font-size: 17px;
  margin-top: 300px;
}