#backgroundcolor{
  background-color: black;
}
div.box{
  border: 2px white solid;
  color: rgb(61, 222, 250);
  width: 400px;
  height: 350px;
  text-align: center;
  margin: 100px auto;
  transition: width 3s, margin 8s;
}
p.paragraph{
  text-align: justify;
  color: black;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
}
div.box:hover{
  background-color: rgb(61, 222, 250);
  width: 500px;
  margin-top: 20px;
  color: white;
}
p.paragraph:hover{
  color: white;
}