#background{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
div.box{
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  width: 600px;
  height: 350px;
  margin: 180px auto;
  background-color: rgba(255, 255, 255, 0.14);
}
h1{
  color: white;
  text-align: center;
}
p{
  text-align: justify;
  height: 300px;
  font-size: 15px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}