#backcolor{
  background-image: linear-gradient(to right,rgb(34, 178, 213),rgb(117, 77, 131));
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
}
table,th,td{
  border: 2.5px solid rgba(2, 2, 2, 0.063);
  border-collapse: collapse;
  text-align: center;
  margin-left: 200px;
  height: 50px;
}
table {
  border-collapse: collapse;
  width: 70%;
}

th {
  height: 50px;
  font-family: tahoma;
  color: white;
  background-color: rgb(37, 121, 176);
}
td {
  font-family: tahoma; 
  color: white;
  background-color: rgba(255, 249, 249, 0.114);
}
td:hover{
  background-image: linear-gradient(to top,rgb(117, 77, 131),rgb(34, 178, 213));
}