#background{
  background-image: linear-gradient(to right,rgb(143, 107, 175),rgb(72, 68, 115));
}
table,th,td{
  border-collapse: collapse;
  text-align: center;
  margin-left: 400px;
  height: 40px;
  width: 700px;
  padding: 15px;
  margin-top: 100px;
  border: 1px solid rgba(128, 128, 128, 0);
}
th{
  background-color: rgb(35, 29, 57);
  color: white;
  font-family: tahoma;
  font-weight: lighter;
}
#br{
  border-top-left-radius: 10px;
}
#br2{
  border-bottom-left-radius: 10px;
}
#br3{
border-bottom-right-radius: 10px;
}
#br4{
  border-top-right-radius: 10px;
}
td{
  background-color: #dededede;
  font-family: tahoma;
  font-weight: light;
}
td:hover{
  background-color: rgb(157, 156, 156);
}
tr:nth-child(even){
  background-color: #dedddd;
}