#backcolor{
  background-image: linear-gradient(black,rgb(6, 78, 193));
  height: 86.2vh;
}
@font-face{
  font-family: Playwrite Cuba;
  src: url(Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf);
}
div.box{
  border: 1px solid white;
  width: 290px;
  height: 220px;
  margin: auto;
  margin-top: 100px;
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0.112),rgba(147, 144, 128, 0.658));
}
div.icon{
  text-align: center;
  margin-top: 20px;
}
h1{
  color: rgb(160, 156, 131);
  font-family: monospace;
  font-weight: lighter;
}
div.content{
  width: 290px;
  height: 220px;
  border: 1px solid white;
  background-color: white;
  margin: auto;
  margin-bottom: 100px;
  opacity: 0;
  transition: margin 3s;
}
p{
  text-align: justify;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 20px;
  font-family: Playwrite Cuba;
  font-size: 11.5px;
  font-weight: bold;
}
div.box:hover .content{
  opacity: 100;
  margin-top: 20px;
  
}