#backcolor{
  background-image: linear-gradient(black,rgb(6, 78, 193));
  height: 86.2vh;
}
@font-face{
  font-family: Playwrite Cuba;
  src: url(Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf);
}
div.box{
  border: 1px solid white;
  width: 288px;
  height: 220px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0;
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0.115),rgba(136, 133, 117, 0.658));
}
div.icon{
  text-align: center;
  margin-top: 10px;
}
h1{
  color: rgb(156, 142, 124);
  font-family: monospace;
  font-weight: lighter;
  font-size: 32px;
}
div.content{
  background-color: white;
  border: 1px solid white;
  width: 288px;
  height: 220px;
  margin-bottom: 120px;
  position: absolute;
  margin-top: 0px;
  opacity: 0;
  transition: margin-top 5s, opocity 5s;
}
p{
  text-align: justify;
  font-size: 13px;
  font-weight: bold;
  margin-right: 9px;
  margin-left: 9px;
  font-family: Playwrite Cuba;
  font-size: 13px;
  font-weight: bold;
}
.box:hover .content{
  opacity: 1;
  margin-top: -14.5px;
}