#background-color{
  background-color: black;
}
h1.box-1{
  background-color: aqua;
  text-align: center;
  width: 1400px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
}
h1.box-2{
  background-color: blue;
  text-align: center;
  width: 1400px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  display: block;
}
h1.box-3{
  background-color: rgb(1, 66, 83);
  text-align: center;
  width: 1400px;
  height: 80px;
  margin: auto;
  margin-top: 80px;
}
.box-2:hover{
  visibility: hidden;
}
h1.box-4{
  background-color: white;
  text-align: center;
  width: 1400px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  display: block;
}
h1.box-5{
  background-color: rgb(1, 66, 83);
  text-align: center;
  width: 1400px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
}
.box-4:hover{
  display: none;
}
